{% extends "base.html" %}

{% block title %}
    Edit Goal Setting
{% endblock %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Goal Setting</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-3 p-2">
                    <div class="col-md-4">
                        <label for="employee" class="form-label">Employee</label>
                        <select name="employee" id="employee" class="form-control">
                            <option value="" disabled>Select an Employee</option>
                            {% for emp in employees %}
                            <option value="{{ emp.id }}" {% if goal.employee.id == emp.id %}selected{% endif %}>
                                {{ emp.full_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mb-3 p-2">
                    <label for="goals" class="form-label">Employee Goal</label>
                    <textarea name="goals" id="goals" class="form-control" rows="5">{{ goal.goals }}</textarea>
                </div>
            </div>   
        </div>

        <div class="d-flex justify-content mt-4 mb-5">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="{% url 'goal_setting_list' %}" class="btn btn-secondary ms-3">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}