form .form-control {
    border: 2px solid #b5b9bd;
    border-radius: 4px;
}

form .form-control:focus {
    border-color: #bdc2c7;
    box-shadow: 0 0 5px rgba(191, 198, 204, 0.596);
}

.striped tbody tr:hover {
    background-color: #f1f1f1;
}

.badge.bg-orange {
    background-color: orange;
    color: white;
}