{% extends "base.html" %}

{% block title %}
    Candidate Screening List
{% endblock %}

{% block content %}
    <h2>Candidate Screening List</h2>

    <a type="button" href="{% url 'add_candidate_screening' %}" class="btn btn-primary btn-sm mt-4 mb-3 float-end">+ Add Screening</a>
    
    <table class="table striped table-hover align-middle">
        <thead>
            <tr>
                <th style="width: 45%;">Candidate</th>
                <th style="width: 35%;">Job Position</th>
                <th style="width: 20%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for screening in candidate_screenings %}
            <tr>
                <td>{{ screening.candidate }}</td>
                <td>{{ screening.job_position.title }}</td>
                <td>
                    <a href="{% url 'screening_details' screening.id %}" class="btn btn-warning btn-sm">View</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">No candidate screenings found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}