{% extends "base.html" %}

{% block title %}
    Tax Management List
{% endblock %}

{% block content %}
    <h2>Tax Management List</h2>

    <a type="button" href="{% url 'add_tax_management' %}" class="btn btn-primary btn-sm mt-4 mb-3 float-end">+ Add Tax</a>
    
    <table class="table striped table-hover align-middle">
        <thead>
            <tr>
                <th style="width: 80%;">Employee</th>
                <th style="width: 20%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tm in tax_management %}
            <tr>
                <td>{{ tm.employee.full_name }}</td>
                <td>
                    <a type="button" href="{% url 'tax_details' tm.id %}" class="btn btn-warning btn-sm">View</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="text-center">No tax management records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}