{% extends "base.html" %}

{% block title %}
    Employee List
{% endblock %}

{% block content %}
    <h2>Employee List</h2>

    <a type="button" href="{% url 'add_employee' %}" class="btn btn-primary btn-sm mt-4 mb-3 float-end">+ Add Employee</a>
    
    <table class="table striped table-hover align-middle">
        <thead>
            <tr>
                <th style="width: 25%;">Name</th>
                <th style="width: 20%;">Employee Number</th>
                <th style="width: 15%;">Department</th>
                <th style="width: 25%;">Designation</th>
                <th style="width: 15%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.full_name }}</td>
                    <td>{{ employee.job_number }}</td>
                    <td>{{ employee.department }}</td>
                    <td>{{ employee.designation }}</td>
                    <td>
                        <a type="button" href="{% url 'employee_details' employee.id %}" class="btn btn-warning btn-sm">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}