{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
<div class="container mt-1">
    <h2 class="mb-4">Dashboard</h2>

    <!-- Statistics Cards -->
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                    <h4>Total Employees</h4>
                    <h2>{{ statistics.total_employees }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    <h4>Departments</h4>
                    <h2>{{ statistics.total_departments }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">
                    <h4>Pending Leaves</h4>
                    <h2>{{ statistics.pending_leave_requests }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-info text-white mb-4">
                <div class="card-body">
                    <h4>Total Payrolls</h4>
                    <h2>{{ statistics.total_payrolls }}</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Quick Links -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h4 class="mt-4">Quick Links</h4>
            <div class="row">
                {% for link in quick_links %}
                <div class="col-md-3 mb-4">
                    <a href="{% url link.url %}" class="card text-decoration-none text-center">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <i class="bi {{ link.icon }}" style="font-size: 2rem; color: #007bff;"></i>
                                </div>
                                <div class="col-md-9">
                                    <h5 class="mt-3 text-dark">{{ link.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}